


#app
    width: 350px
    height: auto
    color: white
    background-color: black
    margin: auto
    margin-top: 50px
    border: 2px inset red
    border-radius: 10px
    display: grid

ul
    list-style: none
    font-size: 24px
    
