

#app
    width: 350px
    height: auto
    color: #F8F4E3
    font-size: 20px
    background-color: none
    margin: auto
    margin-top: 50px
    border-radius: 10px

    ul
        list-style: none

    .calc-item
        padding: 15px
        border: 1px solid gray
        margin: none

    #display
        width: 97.2%
        padding: 30px
        padding-left: 40px !important
        background-color: #1D3557
        margin-left:25px

    .calc-num
        background-color: #BD8B9C

    .calc-operator
        background-color: #50808E

    #decimal
        background-color: #AF125A

    #equals
        background-color: #C492B1

    #clear
        background-color: #D5B942
        color: #AF125A